<html>
	<table border>
		<tr>
			<td>
				name
			</td>
			<td>
				passing
			</td>
			<td>
				screenshotComparePassing
			</td>
		</tr>
		<tr>
			<td>
				{{results.0.name}}
			</td>
			<td>
				{{results.0.passing}}
			</td>
			<td>
				{{results.0.screenshotComparePassing}}
			</td>
		</tr>
</html>